*{
    padding: 0;
    margin: 0%;
}
img {
    width: 100%;
    height: 250px;
}
.sayqua button{
    color: rgb(228, 233, 238);
    float: right;
    margin-top: -2px;
    background: palevioletred;
    font-size: larger;
}
.sao img{
    margin-right: 5px;
    float: left; /* Căn ảnh bên trái */
    margin-left: 10px; /* Tạo khoảng cách giữa ảnh và nội dung bên trái */
    width: 270px;
    height: 300px;
}
.caoss h1{
    margin-left: 10px; /* Tạo khoảng cách giữa ảnh và nội dung bên trái */
    text-align: center;
}
.caoss img {
    float: left; /* Căn ảnh bên trái */
    margin-top: 20px;
    width: 100px;
    height: 110px;
}
.chode img{
    height: 140px;
    width: 300px;
    float: right;
    margin-top: -15px;
}
.loz img{
    margin-top: -30px;
    float: left;
    width: 150px;
    height: 120px;
}
.loz h1 {
    margin-left: 100px; 
    text-align: center;
    transform: translate(5%, 9%);
}

.quan img {
    margin-top: -20px;
    float: right;
    width: 300px;
    height: 190px;
}
.yeu h1{
    margin-left: 10px; /* Tạo khoảng cách giữa ảnh và nội dung bên trái */
    text-align: center;
}
.yeu img {
    float: left; /* Căn ảnh bên trái */
    margin-top: -0px;
    width: 200px;
    height: 210px;
}
body p{
    color: aqua;
}
body{

    background: rgb(102, 122, 53);
}
body h1{
    text-align: start;
    color: brown;
}